{% extends "base.html.twig" %}

{% block title %}Update Events{% endblock %}

{% block body %}
    <h1> Update existing Event </h1>

        {{form_start(form)}} 
        {{form_widget(form)}}
        {{form_end(form)}}
{% endblock %}